
.box {
  border: 1px solid #a0aec0;
  border-radius: 4px;
  padding: 16px;
  width: 600px; 
}


.chips {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 8px; 
}


.chip {
  background-color: #e2e8f0;
  color: #2d3748;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.chip-info {
  display: flex;
  align-items: center;
  gap: 8px;
}


.chip-remove {
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
}

.dropdown-container {
  position: relative;
}

.input {
  padding: 10px;
  border: none; 
  outline: none; 
  margin-bottom: 10px;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #a0aec0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #edf2f7;
}

.box {
  max-width: 100%;
  margin: 0 auto; 
  border: none; 
  padding: 16px; 
  display: flex;
  flex-direction: column; 
  gap: 16px; 
}

.headline {
  color: #2f169d;
  margin-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}

.chip-pic {
  width: 24px; 
  height: 24px;
  border-radius: 50%;
  margin-left: 4px;
}
.dropdown-item-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdown-item-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dropdown-item-name {
  font-weight: bold;
}

.dropdown-item-email {
  font-size: 0.8rem;
  color: #718096;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.user-email {
  font-size: 0.8rem;
  color: #718096;
}

.hr-line {
  border-bottom: 2px solid #6B46C1; 
  margin: 10px 0; 
}


.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc; 
}


.box {
  background: linear-gradient(45deg, #d9e4f5, #e8d9f2); /* Gradient color for the box */
  border: 1px solid #a0aec0;
  border-radius: 4px;
  padding: 16px;
  width: 600px;
}


.dropdown {
  background: linear-gradient(45deg, #e8d9f2, #d9e4f5); /* Gradient color for the dropdown list */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #a0aec0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #a0aec0;
}

.dropdown-item:last-child {
  border-bottom: none; 
}

.dropdown-item:hover {
  background-color: #edf2f7;
}
